In [1]:
# Setup
import sys
from pathlib import Path

# Agregar directorio ra√≠z al path
project_root = Path.cwd().parent
sys.path.insert(0, str(project_root))

print(f"‚úÖ Project root: {project_root}")

‚úÖ Project root: D:\Academico\SENATI\octavo_ciclo\appBigData

In [2]:
# Imports
from sqlalchemy import create_engine, text
from config.config import Config
from src.logger_config import get_logger
import pandas as pd

logger = get_logger('notebook_extraccion')
logger.info("üöÄ Iniciando proceso de extracci√≥n")

‚úÖ Configuraci√≥n cargada correctamente
04:18:24 | notebook_extraccion | INFO | üöÄ Iniciando proceso de extracci√≥n

In [3]:
# Celda 3: Crear schema de staging
from sqlalchemy import text

engine_staging = create_engine(Config.get_staging_connection_string())

logger.info("üî® Creando schema de staging...")

# Crear tabla etl_control
sql_etl_control = """
CREATE TABLE IF NOT EXISTS etl_control (
    etl_id INT AUTO_INCREMENT PRIMARY KEY,
    proceso VARCHAR(100) NOT NULL,
    fecha_inicio DATETIME NOT NULL,
    fecha_fin DATETIME,
    estado ENUM('INICIADO', 'COMPLETADO', 'ERROR') DEFAULT 'INICIADO',
    registros_leidos INT DEFAULT 0,
    registros_escritos INT DEFAULT 0,
    registros_error INT DEFAULT 0,
    mensaje_error TEXT,
    duracion_segundos INT,
    INDEX idx_proceso (proceso),
    INDEX idx_fecha (fecha_inicio)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4
"""

# Crear tabla audit_calidad
sql_audit = """
CREATE TABLE IF NOT EXISTS audit_calidad (
    audit_id INT AUTO_INCREMENT PRIMARY KEY,
    etl_id INT,
    tabla_origen VARCHAR(100),
    tabla_destino VARCHAR(100),
    validacion VARCHAR(255),
    resultado ENUM('PASS', 'FAIL', 'WARNING'),
    valor_esperado VARCHAR(100),
    valor_obtenido VARCHAR(100),
    mensaje TEXT,
    fecha_validacion DATETIME DEFAULT CURRENT_TIMESTAMP,
    INDEX idx_etl (etl_id),
    INDEX idx_resultado (resultado)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4
"""

with engine_staging.connect() as conn:
    # Crear tablas de control
    conn.execute(text(sql_etl_control))
    conn.commit()
    logger.info("‚úÖ Tabla etl_control creada")
    
    conn.execute(text(sql_audit))
    conn.commit()
    logger.info("‚úÖ Tabla audit_calidad creada")

# Las tablas stg_* se crear√°n autom√°ticamente cuando el extractor haga to_sql()
logger.info("‚úÖ Schema b√°sico de staging listo")

# Verificar
query_check = text("SHOW TABLES")
with engine_staging.connect() as conn:
    result = conn.execute(query_check)
    tablas = [row[0] for row in result]
    logger.info(f"üìã Tablas existentes: {tablas}")

04:18:25 | notebook_extraccion | INFO | üî® Creando schema de staging...
04:18:25 | notebook_extraccion | INFO | ‚úÖ Tabla etl_control creada
04:18:25 | notebook_extraccion | INFO | ‚úÖ Tabla audit_calidad creada
04:18:25 | notebook_extraccion | INFO | ‚úÖ Schema b√°sico de staging listo
04:18:25 | notebook_extraccion | INFO | üìã Tablas existentes: ['audit_calidad', 'etl_control', 'stg_address', 'stg_category', 'stg_city', 'stg_country', 'stg_film', 'stg_film_category', 'stg_inventory', 'stg_payment', 'stg_rental', 'stg_store']

In [4]:
# Importar extractor
import importlib
import src.extractor

# Recargar el m√≥dulo para que tome los cambios
importlib.reload(src.extractor)

from src.extractor import SakilaExtractor

extractor = SakilaExtractor()
logger.info("‚úÖ Extractor inicializado")

04:18:29 | extractor | INFO | ‚úÖ Extractor inicializado correctamente
04:18:29 | notebook_extraccion | INFO | ‚úÖ Extractor inicializado

In [5]:
# Extracci√≥n completa (primera vez)
"""
Primera extracci√≥n: COMPLETA
Extrae todas las tablas de Sakila y las carga a Staging
"""
estadisticas = extractor.extraer_todas_las_tablas(
    incremental=False,
    fecha_desde=None
)

print("\n" + "="*80)
print("üìä RESUMEN DE EXTRACCI√ìN")
print("="*80)

total_registros = 0
for tabla, stats in estadisticas.items():
    if 'error' in stats:
        print(f"‚ùå {tabla}: ERROR - {stats['error']}")
    else:
        print(f"‚úÖ {tabla}: {stats['leidos']:,} registros extra√≠dos")
        total_registros += stats['leidos']

print("="*80)
print(f"üì¶ TOTAL: {total_registros:,} registros extra√≠dos")
print("="*80)

04:18:32 | extractor | INFO | üìù ETL registrado con ID: 4
04:18:32 | extractor | INFO | ================================================================================
04:18:32 | extractor | INFO | üöÄ INICIO: EXTRACCION_COMPLETA
04:18:32 | extractor | INFO |    Extrayendo 10 tablas
04:18:32 | extractor | INFO | ================================================================================
04:18:32 | extractor | INFO | üì• Extrayendo rental (completo)
04:18:32 | extractor | INFO | ‚úÖ Extra√≠dos 16,044 registros de rental
04:18:36 | extractor | INFO | ‚úÖ Cargados 16,044 registros a stg_rental
04:18:36 | extractor | INFO | üìä Tabla: rental
04:18:36 | extractor | INFO |    Filas le√≠das: 16,044
04:18:36 | extractor | INFO |    Filas escritas: 16,044
04:18:36 | extractor | INFO | üì• Extrayendo payment (completo)
04:18:36 | extractor | INFO | ‚úÖ Extra√≠dos 16,044 registros de payment
04:18:39 | extractor | INFO | ‚úÖ Cargados 16,044 registros a stg_payment
04:18:39 | extractor | INFO | üìä Tabla: payment
04:18:39 | extractor | INFO |    Filas le√≠das: 16,044
04:18:39 | extractor | INFO |    Filas escritas: 16,044
04:18:39 | extractor | INFO | üì• Extrayendo inventory (completo)
04:18:39 | extractor | INFO | ‚úÖ Extra√≠dos 4,581 registros de inventory
04:18:41 | extractor | INFO | ‚úÖ Cargados 4,581 registros a stg_inventory
04:18:41 | extractor | INFO | üìä Tabla: inventory
04:18:41 | extractor | INFO |    Filas le√≠das: 4,581
04:18:41 | extractor | INFO |    Filas escritas: 4,581
04:18:41 | extractor | INFO | üì• Extrayendo film (completo)
04:18:41 | extractor | INFO | ‚úÖ Extra√≠dos 1,000 registros de film
04:18:42 | extractor | INFO | ‚úÖ Cargados 1,000 registros a stg_film
04:18:42 | extractor | INFO | üìä Tabla: film
04:18:42 | extractor | INFO |    Filas le√≠das: 1,000
04:18:42 | extractor | INFO |    Filas escritas: 1,000
04:18:42 | extractor | INFO | üì• Extrayendo film_category (completo)
04:18:42 | extractor | INFO | ‚úÖ Extra√≠dos 1,000 registros de film_category
04:18:43 | extractor | INFO | ‚úÖ Cargados 1,000 registros a stg_film_category
04:18:43 | extractor | INFO | üìä Tabla: film_category
04:18:43 | extractor | INFO |    Filas le√≠das: 1,000
04:18:43 | extractor | INFO |    Filas escritas: 1,000
04:18:43 | extractor | INFO | üì• Extrayendo category (completo)
04:18:43 | extractor | INFO | ‚úÖ Extra√≠dos 16 registros de category
04:18:43 | extractor | INFO | ‚úÖ Cargados 16 registros a stg_category
04:18:43 | extractor | INFO | üìä Tabla: category
04:18:43 | extractor | INFO |    Filas le√≠das: 16
04:18:43 | extractor | INFO |    Filas escritas: 16
04:18:43 | extractor | INFO | üì• Extrayendo store (completo)
04:18:43 | extractor | INFO | ‚úÖ Extra√≠dos 2 registros de store
04:18:44 | extractor | INFO | ‚úÖ Cargados 2 registros a stg_store
04:18:44 | extractor | INFO | üìä Tabla: store
04:18:44 | extractor | INFO |    Filas le√≠das: 2
04:18:44 | extractor | INFO |    Filas escritas: 2
04:18:44 | extractor | INFO | üì• Extrayendo address (completo, sin campo GEOMETRY)
04:18:44 | extractor | INFO | ‚úÖ Extra√≠dos 603 registros de address
04:18:45 | extractor | INFO | ‚úÖ Cargados 603 registros a stg_address
04:18:45 | extractor | INFO | üìä Tabla: address
04:18:45 | extractor | INFO |    Filas le√≠das: 603
04:18:45 | extractor | INFO |    Filas escritas: 603
04:18:45 | extractor | INFO | üì• Extrayendo city (completo)
04:18:45 | extractor | INFO | ‚úÖ Extra√≠dos 600 registros de city
04:18:46 | extractor | INFO | ‚úÖ Cargados 600 registros a stg_city
04:18:46 | extractor | INFO | üìä Tabla: city
04:18:46 | extractor | INFO |    Filas le√≠das: 600
04:18:46 | extractor | INFO |    Filas escritas: 600
04:18:46 | extractor | INFO | üì• Extrayendo country (completo)
04:18:46 | extractor | INFO | ‚úÖ Extra√≠dos 109 registros de country
04:18:47 | extractor | INFO | ‚úÖ Cargados 109 registros a stg_country
04:18:47 | extractor | INFO | üìä Tabla: country
04:18:47 | extractor | INFO |    Filas le√≠das: 109
04:18:47 | extractor | INFO |    Filas escritas: 109
04:18:47 | extractor | INFO | üìù ETL 4 finalizado con estado: COMPLETADO
04:18:47 | extractor | INFO | --------------------------------------------------------------------------------
04:18:47 | extractor | INFO | ‚úÖ √âXITO: EXTRACCION_COMPLETA
04:18:47 | extractor | INFO |    Total le√≠dos: 39,999
04:18:47 | extractor | INFO |    Total escritos: 39,999
04:18:47 | extractor | INFO |    Errores: 0
04:18:47 | extractor | INFO | ================================================================================


================================================================================
üìä RESUMEN DE EXTRACCI√ìN
================================================================================
‚úÖ rental: 16,044 registros extra√≠dos
‚úÖ payment: 16,044 registros extra√≠dos
‚úÖ inventory: 4,581 registros extra√≠dos
‚úÖ film: 1,000 registros extra√≠dos
‚úÖ film_category: 1,000 registros extra√≠dos
‚úÖ category: 16 registros extra√≠dos
‚úÖ store: 2 registros extra√≠dos
‚úÖ address: 603 registros extra√≠dos
‚úÖ city: 600 registros extra√≠dos
‚úÖ country: 109 registros extra√≠dos
================================================================================
üì¶ TOTAL: 39,999 registros extra√≠dos
================================================================================

In [7]:
# Verificar datos en staging
from sqlalchemy import text

"""
Verificar que los datos se cargaron correctamente
"""
query_verificacion = text("""
    SELECT 
        TABLE_NAME as tabla,
        TABLE_ROWS as registros_aproximados
    FROM information_schema.TABLES
    WHERE TABLE_SCHEMA = 'sakila_staging'
    AND TABLE_NAME LIKE 'stg_%'
    ORDER BY TABLE_ROWS DESC
""")

with engine_staging.connect() as conn:
    df_verificacion = pd.read_sql(query_verificacion, conn)

print("\nüìã Tablas en Staging:")
print(df_verificacion.to_string(index=False))

üìã Tablas en Staging:
            tabla  registros_aproximados
       stg_rental                  16100
      stg_payment                  16055
    stg_inventory                   4585
         stg_film                   1000
stg_film_category                   1000
      stg_address                    603
         stg_city                    600
      stg_country                    109
     stg_category                     16
        stg_store                      2

In [8]:
# Ver muestra de datos (ejemplo: rental)
"""
Ver una muestra de los datos en staging
"""
query_muestra = """
    SELECT * FROM stg_rental 
    ORDER BY rental_date DESC 
    LIMIT 10
"""
df_muestra = pd.read_sql(query_muestra, engine_staging)
print("\nüìä Muestra de stg_rental:")
display(df_muestra)

üìä Muestra de stg_rental:

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update,etl_fecha_carga,etl_id
0,11577,2006-02-14 15:16:03,4106,219,None,2,2006-02-15 21:30:53,2025-10-04 04:18:33,4
1,11646,2006-02-14 15:16:03,478,11,None,2,2006-02-15 21:30:53,2025-10-04 04:18:33,4
2,11541,2006-02-14 15:16:03,2026,335,None,1,2006-02-15 21:30:53,2025-10-04 04:18:33,4
3,11672,2006-02-14 15:16:03,3947,521,None,2,2006-02-15 21:30:53,2025-10-04 04:18:33,4
4,11496,2006-02-14 15:16:03,2047,155,None,1,2006-02-15 21:30:53,2025-10-04 04:18:33,4
5,11611,2006-02-14 15:16:03,1857,192,None,2,2006-02-15 21:30:53,2025-10-04 04:18:33,4
6,11593,2006-02-14 15:16:03,817,99,None,1,2006-02-15 21:30:53,2025-10-04 04:18:33,4
7,11563,2006-02-14 15:16:03,1545,83,None,1,2006-02-15 21:30:53,2025-10-04 04:18:33,4
8,11652,2006-02-14 15:16:03,1622,597,None,2,2006-02-15 21:30:53,2025-10-04 04:18:33,4
9,11657,2006-02-14 15:16:03,3043,53,None,2,2006-02-15 21:30:53,2025-10-04 04:18:33,4

In [9]:
# Ver control de ejecuciones
"""
Revisar la tabla de control ETL
"""
query_control = """
    SELECT 
        etl_id,
        proceso,
        fecha_inicio,
        fecha_fin,
        estado,
        registros_leidos,
        registros_escritos,
        duracion_segundos
    FROM etl_control
    ORDER BY etl_id DESC
    LIMIT 5
"""

df_control = pd.read_sql(query_control, engine_staging)
print("\nüìã √öltimas ejecuciones ETL:")
display(df_control)

üìã √öltimas ejecuciones ETL:

,etl_id,proceso,fecha_inicio,fecha_fin,estado,registros_leidos,registros_escritos,duracion_segundos
0,4,EXTRACCION_COMPLETA,2025-10-04 04:18:32,2025-10-04 04:18:47,COMPLETADO,39999,39999,15.0
1,3,EXTRACCION_COMPLETA,2025-10-04 04:15:47,2025-10-04 04:16:05,COMPLETADO,39396,39396,18.0
2,2,EXTRACCION_COMPLETA,2025-10-04 04:11:31,2025-10-04 04:12:04,COMPLETADO,39396,39396,33.0
3,1,EXTRACCION_COMPLETA,2025-10-04 04:04:57,NaT,INICIADO,0,0,NaN

In [10]:
# Prueba de extracci√≥n incremental (simulaci√≥n)
"""
Simular una extracci√≥n incremental
(En producci√≥n, esto se ejecutar√≠a mensualmente)
"""
# Obtener √∫ltima fecha
ultima_fecha = extractor.obtener_ultima_extraccion()
print(f"\nüìÖ √öltima extracci√≥n: {ultima_fecha}")

# Para probar incremental, necesitar√≠as tener datos nuevos en Sakila
# Por ahora, solo mostramos c√≥mo se llamar√≠a:
print("\nüí° Para extracci√≥n incremental, usar√≠as:")
print("estadisticas_inc = extractor.extraer_todas_las_tablas(")
print("    incremental=True,")
print("    fecha_desde=ultima_fecha")
print(")")

04:20:19 | extractor | INFO | üìÖ √öltima extracci√≥n: 2025-10-04 04:18:47

üìÖ √öltima extracci√≥n: 2025-10-04 04:18:47

üí° Para extracci√≥n incremental, usar√≠as:
estadisticas_inc = extractor.extraer_todas_las_tablas(
    incremental=True,
    fecha_desde=ultima_fecha
)

In [11]:
# Cerrar conexiones
extractor.cerrar_conexiones()
logger.info("‚úÖ Proceso de extracci√≥n completado")

print("\n" + "="*80)
print("üéâ ¬°EXTRACCI√ìN COMPLETADA EXITOSAMENTE!")
print("="*80)
print("\nüìå Siguiente paso: 02_staging.ipynb (Validaciones y limpieza)")

04:20:25 | extractor | INFO | üîå Conexiones cerradas
04:20:25 | notebook_extraccion | INFO | ‚úÖ Proceso de extracci√≥n completado

================================================================================
üéâ ¬°EXTRACCI√ìN COMPLETADA EXITOSAMENTE!
================================================================================

üìå Siguiente paso: 02_staging.ipynb (Validaciones y limpieza)